* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: seashell;
}

html {
  background-color: black;
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 1;
  border-bottom: 0.1rem solid seashell;
}

h1 {
  font-family: 'WindSong', cursive;
  font-size: 5rem;
  margin: 2rem; 
}

ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

header {
  background-image: url('src/tea05.jfif');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  width: 100%;
  position: relative;
  top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mission {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

main {
  position: relative;
  top: 7rem;
  width: 80rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#featured {
  margin: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

img {
  width: 20rem;
  height: 100%;
  margin: 0 2rem;
}